/*
	Theme Name: Slater Trout
	Theme URI: http://slatertrout.com
	Author: Just Works
	Author URI: http://goodjustworks.org/
	Description: A Custom WordPress theme by Just Works
	Version: 1.0
	Text Domain: slatertrout
*/

/* --- Fonts --- */

/* --- Default Styles --- */
html {
}
body {
	font-family: "Merriweather", arial, sans-serif;
	color: #777;
	background-color: #e5ebf0;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	-webkit-font-smoothing: antialiased;
}
p, ol, ul {
	font-family: "Merriweather", arial, sans-serif;
	margin: 0;
	margin-bottom: 1.2em;
}
img.alignleft {
	float: left;
	display: block;
	margin-right: 15px;
	margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	color: #000;
}
img.alignright {
	float: right;
	display: block;
	margin-left: 15px;
	margin-bottom: 10px;
}
img.aligncenter {
	float: none;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}
img.alignnone {
	float: none;
	display: inline-block;
	margin: 0 auto;
	margin-bottom: 10px;
}

/* --- Custom Theme Styles --- */
em {
	color: #444444;
}
a {
	color: #000;
	-webkit-transition: all linear .2s;
	transition: all linear .2s;
}
a.no-deco {
	text-decoration: none;
}
a:hover {
	color: #777;
	text-decoration: none;
}
a:not(.no-fade) img:hover {
	opacity:.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	-webkit-transition:all .15s  linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	-webkit-backface-visibility: none;
}
.uk-container {
	max-width: 1150px;
}
.uk-pagination li a {
	background: #f5f5f5;
}
.uk-pagination li a:hover {
	background: #fff;
}
.uk-height-viewport {
	height: 80vh;
}
.fourohfour {
	height: 53vh;
}
.fourohfour h1 {
	font-size: 110px;
	line-height: 100px;
}
.uk-panel-box {
	background-color: rgba(245, 245, 245, 0.75);
}
.uk-article-title {
	font-family: 'Raleway', sans-serif;
	color: #000;
	font-size: 22px;
	line-height: 18px;
	text-transform: uppercase;
}
.home .uk-article-title {
	color: #fff;
	background-color: #000;
	font-weight: 700;
	padding: 3px 1px;
	margin-bottom: 7px;
}
.home .uk-panel-box h3 {
	font-family: 'Raleway', sans-serif;
	color: #000;
	font-size: 22px;
	line-height: 18px;
	font-weight: 700;
	margin: 5px 0;
	text-transform: uppercase;
}

/* --- Fancy BG --- */
.loading-image,
.loading-image2 {
	position: absolute;
	top: 0;
	z-index: 99999;
	width: 100%;
	height: 100%;
	background-color: #e5ebf0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.loading-image2 {
	z-index: 99998;
}
.loading-image .logoa {
	position: relative;
	top: 50%; margin-top: -16px;
	left: 50%; margin-left: -16px;
	height: 32px; width: 32px;
	height: auto;
}
.loading-image .logoa i {
	color: #000;
}


/* --- Header --- */
header .logo-cont {
	height: 140px;
}
header .header {
	background: #000;
}
header .header .uk-navbar-content{ 
	padding: 0;
	height: 24px;
}
header .header .uk-navbar-content a {
	color: #555;
	font-family: 'Arvo', serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 26px;
	height: 22px;
	width: auto;
	visibility: hidden;
	text-transform: uppercase;
}
header .header.uk-active .uk-navbar-content a {
	visibility: visible;
}
.admin-bar header .header.uk-active {
	margin-top: 32px;
}
.logo {
	margin: 10px 0 -35px;
}


/* --- NavBar --- */
.uk-navbar {
	background: #000;
}
.uk-navbar-nav  li a {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	line-height: 24px;
	letter-spacing: -2.5px;
	height: 24px;
	color: #ddd;
	border: 0;
	text-shadow: none;
	box-shadow: none;
	text-transform: uppercase;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.uk-navbar-nav>li:hover>a,
.uk-navbar-nav>li>a:focus,
.uk-navbar-nav>li.uk-open>a,
.uk-navbar-nav>li.uk-active>a  {
	background: #333;
	color: #ddd;
	cursor: pointer;
}
.uk-nav-navbar>li>a:hover,
.uk-nav-navbar>li>a:focus,
.uk-dropdown li.uk-active>a {
	background: #333;
	color: #ddd;
	border-bottom: 0;
	box-shadow: none;
	text-shadow: none;
}
.uk-navbar-nav > .uk-parent > a:after {
	color: #871a1a;
	font-family: FontAwesome;
	font-size: 16px;
	content: " \f0d7";
}
.uk-dropdown .uk-nav {
	margin: -5px -15px;
}
.uk-dropdown-navbar {
	margin-top: -3px;
	background: #333;
	color: #ddd;
	left: -1px;
	border-radius: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	box-shadow: 2px 3px 4px 0px rgba(2, 2, 2, 0.2);
}
.uk-dropdown-navbar li a {
	line-height: 18px;
	height: 32px;
	padding: 7px 10px;
	box-shadow: none;
	text-shadow: none;
}
.uk-nav-navbar>li>a:hover,
.uk-nav-navbar>li>a:focus,
.uk-dropdown li.uk-active>a {
	background: #000;
	color: #ddd;
}
.uk-navbar-nav:first-child>li:first-child>a {
	border-radius: 0;
}
.uk-navbar-toggle {
	font-size: 25px;
	position: relative;
	top: -40px;
}
.uk-nav-offcanvas>li>a {
	padding: 7px 15px;
}
.uk-nav-offcanvas>li.current-menu-item>a {
	background: #1a1a1a;
	color: #fff;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
}
.uk-nav-offcanvas>li.current-menu-parent>.sub-menu>li.current-menu-item>a {
	color: #888;
}
.uk-nav-offcanvas .sub-menu {
	margin-top: -5px;
	padding-left: 25px
}

/* --- Sidebar --- */
.sidebar .widget-title {
	background-color: #000;
	color: #fff;
	font-size: 22px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
	margin: -15px 0 15px;
	padding: 3px 1px;
}
.sidebar .widget {
	color: #444;
	background-color: rgba(245, 245, 245, 0.75);
	width: 100%;
	padding: 15px 0;
	margin-bottom: 30px;
}

/* --- Footer --- */
footer {
	background: #f5f5f5;
	padding: 15px;
	margin-top: 30px;
	margin-bottom: 66px;
}
.sponsors {
	background: #fff;
	border-top: solid 8px #000;
	width: 100%;
	position: fixed;
	bottom: 0;
}

/* --- Responsive --- */
/* Desktop and bigger */
@media (min-width: 960px) {
}
/* Only tablets portrait */
@media (min-width: 768px) and (max-width: 959px) {
}
/* Phone landscape and smaller */
@media (max-width: 767px) {
}